name: ci

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install Node
        uses: actions/setup-node@v1
        with:
          node-version: 18.14.0

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install deps
        run: npm ci

      - name: Build
        run: npm run build

      - name: Copy
        run: |
          ls -lah
          mkdir ./public/build
          cp -r ./build ./public/build

      - name: Upload build result
        uses: actions/upload-artifact@v1
        with:
          name: build
          path: ./public/build

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download build
        uses: actions/checkout@v0.1.4
        with:
          name: build
      - name: Transfer build files to server
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          port: 22
          source: "build/*"
          target: "/home/ubuntu/infrastructure"
          strip_components: 1